<%- include('./partials/header') %>
    <!--? Home page title -->
    <div class="container" style="height: 80vh;">
        <div class="row h-100 align-items-center">
            <div class="col d-flex justify-content-center">
                <p class="d-inline h1">Home Page</p>
            </div>

        </div>
    </div> 
<%- include('./partials/footer') %>